div.game-container{
  height: 100%;
}

div.game-body{
  text-align: center;
}

div.game-score{
  font-size:2em;
}

table.puzzle-list{
  margin: auto;
}

tr.puzzle-container{
  font-weight: bold;
  font-size:5em;
  height:2em;
  text-align: center;
}

td.puzzle-fraction{
  width: 30%;
}

td.puzzle-sign{
  width: 40%;
}

.puzzle-correct{
  color:green;
}

.puzzle-incorrect{
  color:red;
}

.game-timer{
  font-size:3em;
}
