{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/css/game.css">
{% endblock %}

{% block main_body %}
<div class="col-md-12">
  <div class="jumbotron">
    <h1>Welcome to 1/2</h1>
    <h2>Use the left and right arrow keys to select the bigger fraction</h2>
    <h2>Good luck!</h2>
    <a class="btn btn-success" href="/play">Let's Go!</a>
  </div>
</div>
{% endblock %}
{% block below_main_body %}
<div class="hiscore-container">
  <div class="col-md-6">
    <h2>Recent High Scores</h2>
    <table class="table hiscore hiscore-recent"></table>
  </div>
  <div class="col-md-6">
    <h2>All Time High Scores</h2>
    <table class="table hiscore hiscore-global"></table>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/js/hiscore.js">
<script type="text/javascript">
</script>
{% endblock %}
