<html>
  <head>
    <title>1/2</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    {% block css %}{% endblock %}
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="main-body">
          <h1><a href="/">1/2</a></h1>
          <h3>How well do you know your fractions?</h3>
          <hr>
          {% block main_body %}{% endblock %}
        </div>
        <div class="below-main-body">
          {% block below_main_body %}{% endblock %}
        </div>
      </div> <!-- /row -->
    </div> <!-- /container -->

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/math.min.js"></script>
    <script type="text/javascript" src="/js/ajax.js"></script>
    <script type="text/javascript" src="/js/timer.js"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
