{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/css/game.css">
{% endblock %}

{% block main_body %}
<div class="col-md-12">
  <div class="game-container">
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/js/math.min.js"></script>
<script type="text/javascript" src="/js/ajax.js"></script>
<script type="text/javascript" src="/js/timer.js"></script>
<script type="text/javascript" src="/js/game.js"></script>

<script type="text/javascript">
var pp = new PuzzlePlayer($(".game-container"));
pp.start();
</script>
{% endblock %}
